<!-- Pantalla de start -->
<section id="start">
	<div class="wrap">
		<div class="inside">
			<h1>How many personas do <br>you want to create?</h1>
			<input type="text" name="cantidad" id="cantidad"><br>
			<button id="create_pdf" class="btn">Get PDF</button>
		</div>
	</div>
</section>
<!-- Pantalla de loading -->
<section id="loading">
	<div class="wrap">
		<div class="inside">
			<h1>We are searching personas</h1>
		</div>
	</div>
</section>

<!-- Pantalla de documento finalizado -->
<section id="ready">
	<div class="wrap">
		<div class="inside">
			<h1>Listo, ya esta</h1>
			<button id="download_pdf" class="btn"S>Download PDF</button>
		</div>
	</div>
</section>

<script src="static/js/hello.js"></script>
