@import 'nib'
body{
	font-family:"Helvetica Neue",Arial,sans-serif;
	h1{
		color:#666;
	}
}

// Este es el delimitador de lo que tenemos adentro de cada vista
#main{
	border:1px solid rgba(255,255,255,0.1);
}



// Estos son los divs que permanecen ocultos.
#ready,#loading{
	display:none;
	bakground-color:#8affe8;
} 


